<!DOCTYPE html>
<html>
<head>
  {% include 'hheader.html' %}
  <title>HTTP Headers</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet" media="screen">
</head>

<body>

<ol class="breadcrumb">
  <li><a href="{{ url_for('top.index') }}">Top</a></li>
  <li class="active">HTTP Headers</li>
</ol>

<div class="container">
  <h1>HTTP Headers</h1>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <div class="panel panel-default">
    <div class="panel-heading">Your IP address</div>
    <div class="panel-body">
      <div>{{ remote_addr }}</div>
      {% if remote_host is not none %}   
        <div>{{ remote_host }}</div>
      {%endif %}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">HTTP Headers</div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        {% for key, value in headers.items() %}
          <dt class="col-sm-3">{{ key }}</dt>
          <dd class="col-sm-9">{{ value|default('(Empty)', true) }}</dd>
        {% endfor %}
      </dl>
    </div>
  </div>
</div>

</script>

</body>
</html>
