<!DOCTYPE html>
<html>
<head>
  <title>HTTP Headers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="static/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
</head>

<body>

<div class="container">
  <h1>HTTP Headers</h1>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="static/js/bootstrap.min.js"></script>

  <div>
    {{ remote_addr }}
  </div>

  <div>
    <dl>
      {% for key, value in headers %}
        <dt>{{ key }}</dt>
        <dd>{{ value }}</dd>
      {% endfor %}
    </dl>
  </div>
</div>

</script>

</body>
</html>
