<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109307939-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109307939-1');
</script>
<meta name="description" content="Webtoys is a collection of free online tools including base64 encoding/decoding, pdf conversion and diff between texts or word files." />
<meta name="keywords" content="free, online, tools, base64, convert, pdf, diff, word, docx" />
