<!DOCTYPE html>
<html>
<head>
  {% include 'hheader.html' %}
  <title>{{ s.gettext('sh_ids') }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet" media="screen">
</head>

<body>

<ol class="breadcrumb">
  <li><a href="{{ url_for('top.index') }}">Top</a></li>
  <li class="active">{{ s.gettext('sh_ids') }}</li>
</ol>

<div class="container">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <h1>{{ s.gettext('sh_ids') }}</h1>

  <div class="panel panel-default">
    <div class="panel-heading">Usage</div>
    <div class="panel-body">
      {{ s.gettext('sd_ids') }}
    </div>
  </div>

  <form action="/ids/download" method="post" class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-xs-2" for="base">Format</label>
      <div class="col-xs-5">
        <label class="radio-inline">
          <input type="radio" name="base" value="36" checked="checked">
          Base36
        </label>
        <label class="radio-inline">
          <input type="radio" name="base" value="62">
          Base62
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="idlen" class="control-label col-xs-2">Length</label>
      <div class="col-xs-5">
        <select name="idlen" class="form-control">
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7" selected="">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="idcnt" class="control-label col-xs-2">Count</label>
      <div class="col-xs-5">
        <input name="idcnt" class="form-control" value="10">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-2">Preview</label>
      <div class="col-xs-5">
        <textarea id="ids_preview" style="font-family:courier; width:20em; height:8em; background-color:silver;" readonly=""></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <button type="submit" class="btn btn-primary">Download</button>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
function updatePreview(){
  var base = $('input[name=base]:checked').val()
  var idlen = $('select[name="idlen"]').val();
  $.post("/ids/preview",
    {base: base, idlen: idlen},
    function(ids){
      $('#ids_preview').val(ids);
    });
}

$('select[name="idlen"]').bind('change', function(event){
  updatePreview();
  event.preventDefault();
});
$('input[name="base"]:radio').bind('change', function(event){
  updatePreview();
  event.preventDefault();
});

$(document).ready(function(){
  updatePreview();
});

</script>

</body>
</html>
