<!DOCTYPE html>
<html>
<head>
  {% include 'hheader.html' %}
  <title>Unicode Escape/Unescape</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet" media="screen">
</head>

<body>

<ol class="breadcrumb">
  <li><a href="{{ url_for('top.index') }}">Top</a></li>
  <li class="active">{{ s.gettext('sh_unie') }}</li>
</ol>

<div class="container">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <h1>{{ s.gettext('sh_unie') }}</h1>

  <div class="panel panel-default">
    <div class="panel-heading">Usage</div>
    <div class="panel-body">
      {{ s.gettext('sd_unie') }}
    </div>
  </div>

  <form role="form">
    <div class="form-group">
      <label for="plain" class="form-control-label">Plain</label>
      <input name="plain" class="form-control">
    </div>
    <div class="form-group">
      <label for="escaped" class="form-control-label">Encoded</label>
      <input name="escaped" class="form-control">
    </div>
    <div class="form-group">
      <button name="escape" class="btn btn-primary">Escape</button>
      <button name="unescape" class="btn btn-primary">Unescape</button>
    </div>
  </form>
</div>

<script type="text/javascript">

$('button[name="escape"]').bind('click', function(event){
  var plain = $('input[name=plain]').val()
  var escaped = escape(plain);
  $('input[name=escaped]').val(escaped);
  event.preventDefault();
});

$('button[name="unescape"]').bind('click', function(event){
  var escaped = $('input[name=escaped]').val()
  var plain = unescape(escaped);
  $('input[name=plain]').val(plain)
  event.preventDefault();
});

</script>

</body>
</html>
