<!DOCTYPE html>
<html>
<head>
  {% include 'hheader.html' %}
  <title>URL Encoder/Decoder</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="static/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
</head>

<body>

<ol class="breadcrumb">
  <li><a href="{{ url_for('top.index') }}">Top</a></li>
  <li class="active">URL Encoder/Decoder</li>
</ol>

<div class="container">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="static/js/bootstrap.min.js"></script>

  <h1>URL Encoder/Decoder</h1>

  <div class="panel panel-default">
    <div class="panel-heading">Usage</div>
    <div class="panel-body">
      Input either plain or encoded text and press a button.
    </div>
  </div>

  <form role="form">
    <div class="form-group">
      <label for="plain" class="form-control-label">Plain</label>
      <input name="plain" class="form-control">
    </div>
    <div class="form-group">
      <label for="encoded" class="form-control-label">Encoded</label>
      <input name="encoded" class="form-control">
    </div>
    <div class="form-group">
      <button name="encode" class="btn btn-primary">Encode</button>
      <button name="decode" class="btn btn-primary">Decode</button>
    </div>
  </form>
</div>

<script type="text/javascript">

$('button[name="encode"]').bind('click', function(event){
  var plain = $('input[name=plain]').val()
  var encoded = encodeURI(plain);
  $('input[name=encoded]').val(encoded);
  event.preventDefault();
});

$('button[name="decode"]').bind('click', function(event){
  var encoded = $('input[name=encoded]').val()
  var plain = decodeURI(encoded);
  $('input[name=plain]').val(plain)
  event.preventDefault();
});

</script>

</body>
</html>
