<!DOCTYPE html>
<html>
<head>
  {% include 'hheader.html' %}
  <title>XML Beautifier</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet" media="screen">
</head>

<body>

<ol class="breadcrumb">
  <li><a href="{{ url_for('top.index') }}">Top</a></li>
  <li class="active">{{ s.gettext('sh_xmlbt') }}</li>
</ol>

<div class="container">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <h1>{{ s.gettext('sh_xmlbt') }}</h1>

  <div class="panel panel-default">
    <div class="panel-heading">Usage</div>
    <div class="panel-body">
      {{ s.gettext('sd_xmlbt') }}
    </div>
  </div>

  <form role="form">
    <div class="form-group">
      <label for="orig" class="form-control-label">Input</label>
      <textarea name="orig" class="form-control" rows="10"></textarea>
    </div>
    <div class="form-group">
      <label for="result" class="form-control-label">Result</label>
      <textarea id="bt_result" name="result" class="form-control" rows="10" readonly=""></textarea>
    </div>
    <div class="form-group">
      <button name="beautify" class="btn btn-primary">Beautify</button>
    </div>
  </form>
</div>

<script type="text/javascript">

$('button[name="beautify"]').bind('click', function(event){

  var orig = $('textarea[name=orig]').val()
  $.post("/xmlbt/beautify",
    {original: orig},
    function(result){
      $('#bt_result').val(result);
    });
  event.preventDefault()
});

</script>

</body>
</html>
